body{	
	background-color:blue;
	font-size:50px;
	font-family:impact;
	padding: 5px;
	text-align: center;
	#demo{
		@extend .unselectable;
		display:inline-block;
		font-family:verdana;
		background-color:#FFF;
		margin:auto;
	}
	.unselectable {
	   -moz-user-select: none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
	   -ms-user-select: none;
	   user-select: none;
	}
}