body{	
	background-color:#666699;
	font-size:50px;
	font-family:Verdana;
	padding: 5px;
	text-align: center;
	#title{
		font-weight:bold;
	}
	#demo{
		@extend .unselectable;
		display:inline-block;
		background-color:#330066;
		color:#FFF;
		margin:20px;
		padding:20px;
	}
	#demo:hover{
		background-color:#8585BF;
	}
	.unselectable {
	   -moz-user-select: none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
	   -ms-user-select: none;
	   user-select: none;
	}
	#history{
		div{
			font-size:0.5em;
		}
	}
}