
body{
	background-color:blue;
	font-size:50px;
	font-family:impact;
	padding: 5px;
	text-align: center;
}

div{ 
	background-color: white;
	width: ;
	height: ;
	padding-left: ;
	padding-top: ;
	padding-right: ;
	padding-bottom: ;
	font-size: 35px;
	font-family: impact;
}
  body #demo {
    user-select: none;
    background-color: #FFF;
    overflow: hidden;
    margin: auto; }
  body .unselectable, body #demo {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }

