body{
	background-color:blue;
	font-size:50px;
	font-family:impact;
	padding: 5px;
	text-align: center;
}

div{ 
	background-color: white;
	width: ;
	height: ;
	padding-left: ;
	padding-top: ;
	padding-right: ;
	padding-bottom: ;
	font-size: 35px;
	font-family: impact;
}

div{ 
	background-color: white;
	width: ;
	height: ;
	padding-left: ;
	padding-top: ;
	padding-right: ;
	padding-bottom: ;
	font-size: 35px;
	font-family: impact;
}