body {
  background-image: linear-gradient(to top, white 0%, #08082c 100%);
  background-size: 100%;
  min-height: 100vh;
  font-size: 50px;
  font-family: Verdana;
  text-align: center;
  color: #FFF; }
  body #game {
    padding: 5px;
    margin: none;
    padding: none; }
    body #game #battery {
      position: absolute;
      float: right; }
    body #game .wobble {
      display: block;
      position: absolute;
      margin: auto;
      right: 0;
      left: 1000px;
      width: 15%; }
  body #timer {
    position: absolute;
    font-size: 0.5em; }
  body #title {
    font-weight: bold;
    margin: 3%; }
  body .demo {
    display: inline-block;
    background-color: #330066;
    color: #FFF;
    margin-bottom: 2%;
    padding: 0.2em; }
  body .demo:hover {
    background-color: #430C9D; }
  body .unselectable, body .demo {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body #history {
    width: 60%;
    float: left;
    margin-left: 3%;
    margin-right: 3%; }
    body #history div {
      font-size: 0.5em;
      margin-bottom: 5%; }
  body #lose {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    display: none;
    transition: opacity 1s; }
    body #lose a {
      text-decoration: none;
      color: inherit; }
  body #win {
    margin-top: 30%;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center; }
